# Diabetes dataset

The prupose is to discover diabetes issues

In [60]:
import pandas as pd
import wget
import requests
from zipfile import ZipFile

In [70]:
url = 'https://storage.googleapis.com/kagglesdsdata/datasets/2527538/4289678/diabetes.csv?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gcp-kaggle-com%40kaggle-161607.iam.gserviceaccount.com%2F20221029%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20221029T040654Z&X-Goog-Expires=259200&X-Goog-SignedHeaders=host&X-Goog-Signature=1bf87e3160ce7bf28a9913cad36cfcfb352d86a52c2b71cf5a7038c94776c7d9774bb480bd5f007ff62c955bcd00ff9a75cb7a5fb0d8d78b1a0454c012d918be5b1cd5786fe1019beec75240175b9e8524abf6964afd27fc40234adfab87e9e4ce5e6fdea9925e24cccd8f9bf850d480a99720f974529fbc4f4389c1af8eeb775a49e1290c1237c65006b393412e0b30fe9cbb1643ec9419860d19d1ddba4e1be596456fc3d278edb1182f72550961d0cf6bf946b5ae05683d5d90eebdb8f1fb23637ed8f1ebf502bd750eed3b344b9e9c7134d80996f6897bddc52e675feb00305b82def21ab9499ab13b45ca798689e4fab53d17dc5f2b40032d409edb0a92'
data = pd.read_csv(url) # use sep="," for coma separation.

In [71]:
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [72]:
data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [75]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB